{% load price from taxed_prices %}

<table class="summary-table">
  <tbody>
    <tr class="summary-row">
      <td class="cell-summary">
        <span class="normal-text-table-bold">Subtotal</span>
      </td>
      <td class="cell-quantity"></td>
      <td class="cell-total-price">
        <span class="header-item">
          {% price order.get_subtotal.gross %}
        </span>
      </td>
    </tr>
    <tr class="summary-row">
      <td class="cell-summary">
        <span class="normal-text-table-bold">Discount</span>
      </td>
      <td class="cell-quantity"></td>
      <td class="cell-total-price">
        <span class="header-item">
       {{ total_discount }}
        </span>
      </td>
    </tr>
    <tr class="summary-row">
      <td class="cell-summary">
        <span class="normal-text-table-bold">Service Tax 6%</span>
      </td>
      <td class="cell-quantity"></td>
      <td class="cell-total-price">
        <span class="header-item">
          {% price order.total.tax %}
        </span>
      </td>
    </tr>
    <tr class="summary-row" style="border-top: 1px solid gainsboro; border-bottom: 1px solid gainsboro">
      <td class="cell-summary">
        <span class="normal-text-table-bold"><b>Total</b></span>
      </td>
      <td class="cell-quantity"></td>
      <td class="cell-total-price">
        <span class="header-item-bold">
          {% price order.total.gross %}
        </span>
      </td>
    </tr>
  </tbody>
</table>
